.info-container{
    display: flex;
    padding: 90px;
    gap: 40px;
    margin-left: 30px;

    .info-details{
    display: flex;
    gap: 15px;
    // padding: 
}

.info-icon{
    font-size: 35px;
    color: #72AEC8;
}

.info-heading{
    color: #212529;
    font-size: 21px;
}

.info-data{
    margin-top: -20px;
}

.info-informations{
    color:#AEAEAE;
    margin-top: -10px;
    font-size: 16px;
}
}

