.insta-container{
    margin-top: 100px;
}

.insta-head{
    font-size: 35px;
    text-align: center;
}

.insta-head{
    font-weight: 400;
}

.insta-img{
    display: flex;
    margin-left: 120px;
    gap:15px;
}