.review-container {
    display: block;
    text-align: center;
    margin-top: 100px;
}

.review-icon{
    font-size: 80px;
    color:#EDF1F3;
}

.review{
    font-size: 32px;
    color: #212529;
    font-weight: 300;
    margin-top: -20px;
}

.star{
    color:#72AEC8;
    font-size: 25px;
    margin-top: -25px;
}

.reviewer{
    margin-top: -20px;
    color: #212529;
}