.Carttwo-sect{
    display:flex;
    gap: 15px;
    padding: 10px;
    margin-left: 80px;
}

.Carttwo-detail{
    display: flex;
    gap: 3rem;
    margin-top: 17px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
}

.Carttwo-name{
    color:#212529;
}

.Carttwo-price{
    color: #72AEC8;
}