.Cartone-sect{
    display:flex;
    gap: 20px;
    padding: 10px;
    margin-left: 90px;
}

.Cart-detail{
    display: flex;
    gap: 5rem;
    margin-top: 17px;
    margin-left: 10px;
    font-size: 21px;
    font-weight: 500;
}

.Cartone-name{
    color:#212529;
}

.Cartone-price{
    color: #72AEC8;
}