.Post-container{
    display: flex;
    margin-left: 100px;
    gap: 30px;
}

.heading{
    width: 360px;
    font-size: 23px;
    color: #212529;
    margin-top: -15px;
    font-weight:400;
}

.date{
    font-size: 14px;
    color:#6C757D;
    margin-top: 15px;
}